## las carpetas node_modules de lows workspaces
node_modules/

## si tenemos un settings.json en nuestra carpeta de vscode, mantenerlo, pero
##     ignorar todo lo demas
#!.vscode/settings.json
#.vscode/*

## si usamos vi, ignorar los swp
*.swp

